.link {
    font-family: monospace;
    text-decoration: underline;
    border: 1px solid;

    color: #055b90;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;

    font-size: 12px;
    font-weight: bolder;
    padding: 10px 20px;

    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
  
    @media screen and (min-width: 600px) {
      font-size: 1.15em;
    }
  }
  
  .primary-link {
    color: #055b90;
    border-color: #1ea7fd;
  }
  
  .secondary-link {
    color: #ff4785;
    border-color: #ff4785;
  }