#container
    margin: 1%
    padding: 2% 1% 0 1%
    border: #000 solid 1px

mat-form-field
    width: 100%

.readonly-property
    border-left: medium solid rgba(0, 0, 0, 0.6)
    margin: 0 0 2em 0
    padding: 1em 0 1em 0

.readonly-property p
    margin: 0 0 0 1em
    font-size: 16px

.readonly-property p > span
    font-weight: bold

.readonly
    display: none
