doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://unpkg.com/vis-network/standalone/umd/vis-network.min.js')
  body
    block content
