#app-org-chart
    background: whitesmoke
    width: 80vw
    height: 98vh
    border: 1px solid black
    margin-right: 0
    margin-left: auto

#app-minimap
    position: absolute
    margin: 32px
    top: 0
    right: 0
    width: 16%
    height: 16%
    border: 1px solid black
    z-index: 5
